<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Suraj Assignment</title>
</head>
<body>

    <!-- Search for book -->
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-7" style="background-color: gray;border: 1px;border-radius: 5px;">
            <div style="margin-top: 20px;margin-bottom: 30px;margin-left: 20px;">
                <h3>Find Book</h3>
                 <form action="/Book" method="post">
                    <input type="text" name="bname" placeholder="Book Name" required="required" />
                    <button type="submit"> Find </button>
                </form>
            </div>
        </div>
    </div>


<br>
<br>
<!-- List of books -->
{% for b in book %}
    <div class="row" style="border: 1px;">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-md-2">
                    <img src="{{ b.volumeInfo.imageLinks.smallThumbnail }}" />
                </div>
                <div class="col-md-8">

                    <h4> {{ b.volumeInfo.title }}</h4>

                    {% if available > 0 %}
                       <p> Books are available </p>
                    {% else %}
                        <p>Books are not available</p>
                    {% endif %}

                    <a href="{{ b.volumeInfo.previewLink }}" target="_blank" > Preview Book</a>
                    <br>

                    <a class="btn btn-danger" href='/book/delete/{{ b.id }}'>Delete</a>
                    <a class="btn btn-primary" href='/posts/edit/{{ b.id }}'>Update</a>
                </div>
            </div>
            <hr>
        </div>
    </div>
{% endfor %}

</body>
